# sbt specific
target/
project/project/
data/covtypeNorm.arff
data/randomtreedata.arff
ensime-langserver.log
/ensime-langserver.log
data/ELEC.arff.zip
data/KDD99.arff.zip
data/electNormNew.arff
data/kdd99.arff
data/randomtreedataComplex.arff
data/rdt600k.arff
data/taskResultFile.moa
scripts/result
